#clab {
    margin: 0;
    padding: 0;
    background: #34495e;
    height: 100vh;
    display: flex;
    align-item: center;
    justify-content: center;
    font-family: "montserrat",sans-serif;
    position:fixed;
    position:absolute;
    left: 25%;
    background-color:black;
    
}

.loading
{
    width: 60px;
    height: 60px;
    position: relative;
    margin-top: 40%;
    margin-left:70px;
}

.loading::before,.loading::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #e74c3c;
    animation: spinnerDots 1.5s ease-in-out infinite;
}

.loading::before{
    bottom: 0;
    left: 50%;
    margin-left: -6px;
    background: #e74c3c;
    animation-delay: -0.5s;
}

.loading::after{
    top: 0;
    left: 50%;
    margin-left: -6px;
    background: #3498db;
    animation-delay: 0s;
}


.loading span{
    position: absolute;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 12px;
    top: 70px;
    left: 0;
}

@keyframes spinnerDots{
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.3;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(-20px);
    }
}


#loader {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
        background: #34495e;
    z-index:19;
    

    
}